{% extends 'layouts/page.njk' %}

{% set language = currentLang %}
{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{{ appHeading({
  text: authedUser.organisationName,
  caption: translations['get-help']

  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-s">{{ translations['guidance'] }}</h3>
      <p class="govuk-body">
        <a href="/service-unavailable" class="govuk-link" rel="noreferrer noopener" target="_blank">
          {{ translations['understanding-l'] }}
        </a><br>
         {{ translations['access-guidance'] }}
      </p>

      <h3 class="govuk-heading-s">{{ translations['support'] }}</h3>
      <p class="govuk-body">
        <a href="/service-unavailable" class="govuk-link" rel="noreferrer noopener" target="_blank">
          {{ translations['request-support'] }}   
        </a><br>
        {{ translations['raise-a-help-re'] }}
      </p>

      <h3 class="govuk-heading-s">{{ translations['contact-us'] }}</h3>

      <p class="govuk-body">
       {{ translations['raise-a-query'] }}
      </p>

      <h4 class="govuk-heading-s">{{ translations['email'] }}</h4>
      <p class="govuk-body">
        <a href="mailto:EPRCustomerService@defra.gov.uk" class="govuk-link">
          {{ translations['eprcustomerserv'] }}
        </a><br>
     {{ translations['we-aim-to-respo'] }}
      </p>

      <h4 class="govuk-heading-s">{{ translations['telephone'] }}</h4>
      <p class="govuk-body">
        0300 060 0002<br>
        {{ translations['monday-to-frida'] }}
      </p>

    </div>
  </div>
   
  
{% endblock %}