  
  @use "govuk-frontend" as *;
  
  .custom-container-card {
    display: flex;
  }

  .custom-card {
    flex: 1;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #f3f2f1;
    border-bottom: #1d70b8 4px solid;
  }