{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

  {% set html %}
    <p class="govuk-body">
      {{ translations['we-use-essential-cookies'] }}
    </p>
  {% endset %}

  <form method="post" action="/cookies/hide">
    {{ govukCookieBanner({
      ariaLabel: "Cookies on Local Authority Payments",
      messages: [
        {
          headingText: translations['cookies-on-laps'],
          html: html,
          actions: [
            {
              text: translations['hide-cookie-message'],
              type: "submit",
              name: "cookies[hide]",
              value: "yes"
            },
            {
              text: translations['view-cookies'],
              href: "/cookies?lang=" + currentLang,
              type: "link",
              name: translations['view-cookies']
            }
          ]
        }
      ]
    }) }}
  </form>
