{% extends 'layouts/page.njk' %}

{% block content %}
  
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Dynamic heading -->
    <h1 class="govuk-heading-l">{{ heading }}</h1>

    <!-- Dynamic message -->
    <p class="govuk-body">{{ message }}</p>
    <h2 class="govuk-heading-l">{{ translations['contact-us'] }}</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ translations['email'] }}</h3>
    <ul class="govuk-list">
      <li><a href="mailto:{{ customerServiceEmail }}">{{ translations['eprcustomerserv'] }}</a></li>
     
      <li>{{ translations['we-aim-to-respo'] }}</li>  
    </ul>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ translations['telephone'] }}</h3>
    <ul class="govuk-list">
      <li>0300 060 0002</li>
      <li>{{ translations['monday-to-frida'] }}</li>
    </ul>

  </div>
</div>


{% endblock %}
