{% extends 'layouts/page.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}

{{ appHeading({
  text: authedUser.organisationName,
  caption: translations['payment-documen']
}) }}

{% if rows.length > 0 %}

  {# compute selected option only when needed #}
  {% set selectedOption = financialYearOptions | selectattr('selected') | first %}

  {% if selectedOption and selectedOption.value == currentFY %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukWarningText({
          text: translations['fy-warning-text']
        }) }}
      </div>
    </div>
  {% endif %}
  <div class="financial-year-selector">
    <form method="post" id="yearFilterForm">
      <input type="hidden" name="js_enabled" id="js_enabled" value="">
      <script>
        if (!sessionStorage.getItem('js-detection-complete')) {
          fetch('/session/js-enabled', {
            method: 'GET',
            credentials: 'same-origin'
          })
          .then(() => {
            sessionStorage.setItem('js-detection-complete', 'true');
            window.location.reload();
          })
          .catch(() => {});
        }
      </script>
      <noscript><input type="hidden" name="js_enabled" value="0"></noscript>
      <input type="hidden" name="csrfToken" value="{{csrfToken}}">
      {% if jsEnabled %}
        {{ govukSelect({
          id: "sort",
          name: "sort",
          label: {
            text: translations['financial-year']
          },
          items: financialYearOptions,
          attributes: {
              onchange: "document.getElementById('yearFilterForm').submit();"
            }
        }) }}
      {% endif %}
    </form>
  </div>

  {{ govukTable({
    caption: "Financial documents",
    captionClasses: "govuk-visually-hidden",
    firstCellIsHeader: false,
    classes: "govuk-table--small-text-until-tablet",
    head: [
      {
      text: translations['date']
    },
    {
      text: translations['document-name']
    },
    {
      html: "<span class='govuk-visually-hidden'>Download document</span>"
    },
    {
      html: "<span class='govuk-visually-hidden'>View document</span>"
    }
    ],
    rows: rows
  }) }}

{% else %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        {{translations['no-payment-docs']}}
      </p>
    </div>
  </div>
{% endif %}

{% endblock %}
