{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: caption
  }) }}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  {% from "govuk/components/table/macro.njk" import govukTable %}
  {% from "govuk/components/tag/macro.njk" import govukTag %}

<div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 1em;">
  <h2 class="govuk-heading-m">
    Your local authority's bank details
  </h2>
  {{ govukTag({
    text: "UNCONFIRMED",
    classes: "govuk-tag--red"
  }) }}
</div>

{{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "First 6 weeks"
      },
      {
        text: "£109.80 per week"
      }
    ],
    [
      {
        text: "Next 33 weeks"
      },
      {
        text: "£109.80 per week"
      }
    ],
    [
      {
        text: "Total estimated pay"
      },
      {
        text: "£4,282.20"
      }
    ]
  ]
}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "Help with nationality",
  text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
}) }}
</div>
  
{% endblock %}