{% extends 'layouts/page.njk' %}
{% from "customCard/macro.njk" import appCustomCard %}
{% set language = currentLang %}
{% block content %}
  {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
   {% if authedUser.currentRole === 'Head of Finance' and apiData.confirmed === false %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% set html %}
            <p class="govuk-notification-banner__heading">
              {{ translations['please-confirm-'] }} <br>
              <a class="govuk-notification-banner__link" href="#">{{ translations['view-and-confir'] }}</a>
            </p>
          {% endset %}

        {{ govukNotificationBanner({
          titleText: translations['important'],
          html: html
        }) }}
        <br/>
        </div>
      </div>
    {% endif %}
  {{ appHeading({
   text: translations['local-authority'],
    caption: authedUser.organisationName

  }) }}

      <div class="govuk-grid-row">
        {{ appCustomCard({
          title: translations['payment-documen'],
         link: "/payment-documents?lang=" + currentLang,
         body: translations['you-can-view-an'],
         list: [
           translations['estimated-grant'],
           translations['remittance-advi']
          ]
        }) }}
        {{ appCustomCard({
          title: translations['bank-details'],
          link: "/bank-details?lang=" + currentLang,
          body: translations['you-can:'],
          list: [
            translations['view-bank-detai']
          ]
        }) }}
        </div>
        <div class="govuk-grid-row">
        {{ appCustomCard({
          title: translations['get-help'],
          link: "/get-help?lang=" + currentLang,
          body: translations['you-can-view-ou'],
          list: [
            translations['read-local-auth'],
            translations['raise-a-support']
          ]
        }) }}
      </div>


{% endblock %}
