{% extends 'layouts/page.njk' %}
{% from "customCard/macro.njk" import appCustomCard %}
{% set language = currentLang %}
{% block content %}
  {{ appHeading({
   text: translations['local-authority'],
    caption: heading 

  }) }}

      <div class="govuk-grid-row">
        {{ appCustomCard({
          title: translations['payment-documen'],
         link: "/payment-documents?lang=" + currentLang,
         body: translations['you-can-view-an'],
         list: [
           translations['estimated-grant'],
           translations['remittance-advi']
          ]
        }) }}
        {{ appCustomCard({
          title: translations['bank-details'],
          link: "/bank-details?lang=" + currentLang,
          body: translations['you-can:'],
          list: [
            translations['view-bank-detai']
          ]
        }) }}
        </div>
        <div class="govuk-grid-row">
        {{ appCustomCard({
          title: translations['get-help'],
          link: "/get-help?lang=" + currentLang,
          body: translations['you-can-view-ou'],
          list: [
            translations['read-local-auth'],
            translations['raise-a-support']
          ]
        }) }}
      </div>


{% endblock %}
