{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "language-toggle/macro.njk" import dwpLanguageToggle %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "loader/macro.njk" import appLoader %}
{% set mainClasses = "app-main-wrapper" %}
{% set language = currentLang %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {% if not cookies.cookie_preferences_set and (currentPath != '/cookies') and (currentPath != '/logout')%}
    {% include "partials/cookie-banner.njk" %}
  {% endif %}
  {# serviceName being used in govukHeader will be @deprecated in v6. It has moved to govukServiceNavigation - https://github.com/alphagov/govuk-frontend/blob/main/CHANGELOG.md#move-service-name-and-navigation-links-from-the-govuk-header-to-service-navigation-component #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    serviceUrl: serviceUrl,
    useTudorCrown: true
  }) }}

 
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
 {{ govukServiceNavigation({
    serviceName: translations['service-title'],
    serviceUrl: "#",
    navigation: navigation,
    menuButtonText: translations['menu']
  }) }}
{% if showBetaBanner %}
  {{ govukPhaseBanner({
    tag: {
      text: translations['beta']
    },
    html: translations['this-is-a-new-s'] | safe
  }) }}
{% endif %}
  
    <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div class="govuk-grid-column-two-thirds">
      {% if showBackLink %}
        {{ govukBackLink({
          text: translations['back-link'],
          href: "javascript:history.back()"
        }) }}
      {% else %}
        {{ govukBreadcrumbs({ items: breadcrumbs }) }}
              {% endif %}
      </div>

      <div class="govuk-grid-column-one-third" style="display: flex; justify-content: flex-end; align-items: center;">
         {{
          dwpLanguageToggle({
            selectedLang: currentLang,
            href: {
              en: "?lang=en",
              cy: "?lang=cy"
            }
          })
        }}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
    items: [
      {
        href: "https://www.gov.uk/help",
        text: translations['help']
      },
      {
        href: "https://www.gov.uk/help/privacy-notice",
        text: translations['privacy']
      },
      {
        href: "/cookies?lang=" + currentLang,
        text: translations['cookies']
      },
      {
        href: "https://www.gov.uk/help/accessibility-statement",
        text: translations['accessibility-s']
      },
      {
        href: "https://www.gov.uk/contact",
        text: translations['contact']
      },
      {
        href: "https://www.gov.uk/help/terms-conditions",
        text: translations['terms-and-condi']
      },
      {
        href: "https://www.gov.uk/cymraeg",
        text: "Rhestr o Wasanaethau Cymraeg",
        attributes: {
          lang: "cy",
          hreflang: "cy"
        }
      },
      {
        href: "https://www.gov.uk/government/organisations/government-digital-service",
        text:  translations['government-digi']
      }
    ]
    },
    contentLicence: {
       html: translations['all-content-is-'] | safe
    },
    copyright: {
      text: translations['crown-copyright']
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script> window.inactivityTimeout = {{ sessionTimer }}</script>
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
  <script src="{{ getAssetPath('session-timer.js') }}"></script>
{% endblock %}
