@use "govuk-frontend" as *;

.govuk-table__cell-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: govuk-spacing(2);
  
    @include govuk-media-query($until: tablet) {
      grid-template-columns: 1fr;
  
      .govuk-tag {
        justify-self: start;
        margin-top: govuk-spacing(1);
      }
    }
  }