{% extends 'layouts/page.njk' %}

{% set language = currentLang %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

{{ appHeading({
  caption: translations['accessibility-statement-for-laps']
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            {{translations['accessibility-statement-applies-to'] | safe}}
        </p>
        <p class="govuk-body">
          {{translations['website-run-by']}}
        </p>
        <h2 class="govuk-heading-l">{{translations['how-to-use-the-site']}}</h2>
        <p class="govuk-body"> {{translations['many-people-can-use']}} </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{translations['change-color']}}</li>
          <li>{{translations['zoom-in']}}</li>
          <li>{{translations['navigate-with-keyboard']}}</li>
          <li>{{translations['listen-to-website']}}</li>
        </ul>

        <p>{{translations['simple-text']}}</p>
        <p>{{translations['advice-by-AbilityNet'] | safe}}</p>
    

        <h2 class="govuk-heading-l">{{translations['how-accessible']}}</h2>
        <p class="govuk-body">{{translations['parts-of-site']}}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ translations['docs-not-in-eng'] }}</li>
          <li>{{ translations['titles-not-in-eng'] }}</li>
          <li>{{ translations['decorative-images-no-in-eng'] }}</li>
          <li>{{ translations['reduced-colour-contrast']}}</li>
          <li>{{ translations['inconsistent-text-style']}}</li>
          <li>{{ translations['link-purpose-unclear']}}</li>
          <li>{{ translations['pdfs-not-fully-accessible']}}</li>
          <li>{{ translations['connected-services'] }}</li>
          <li>{{translations['service-in-welsh']}}</li>
        </ul>

        <h2 class="govuk-heading-l">{{translations['feedback-and-contact']}}</h2>
        <p class="govuk-body"><a href="mailto:{{ translations['eprcustomerserv'] }}">{{translations['tell-us']}}</a></p>
        <p class="govuk-body">{{translations['in-message-include']}}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ translations['accessible-format-item-url'] }}</li>
          <li>{{ translations['accessible-format-item-contact'] }}</li>
          <li>{{ translations['accessible-format-item-format'] }}</li>
        </ul>
        <p class="govuk-body">{{translations['request-accessible-pdf'] | safe}}</p>
        <p class="govuk-body">{{translations['accessible-document-policy'] | safe}}</p>

        <h2 class="govuk-heading-l">{{translations['reporting-accessibility-issues']}}</h2>
        <p class="govuk-body">{{translations['any-problems-contact-us'] | safe}}</p>

       <h2 class="govuk-heading-l">{{translations['enforcement-procedure']}}</h2>
       <p class="govuk-body">{{translations['equality-and-human-rights']}}</p>
       <p class="govuk-body">{{translations['no-happy-with-response'] | safe}}</p>

       <h2 class="govuk-heading-l">{{translations['technical-information-heading']}}</h2>
      <p class="govuk-body">{{translations['technical-information-description']}}</p>

      <h2 class="govuk-heading-l">{{ translations['compliance-status-heading'] }}</h2>
      <p class="govuk-body">{{ translations['compliance-status-description'] | safe }}</p>

      <h2 class="govuk-heading-l">{{ translations['non-accessible-content-heading'] }}</h2>
      <p class="govuk-body">{{ translations['non-accessible-content-intro'] }}</p>

      <h3 class="govuk-heading-m">{{ translations['non-compliance-heading'] }}</h3>
      <ul class="govuk-list govuk-list--bullet">
          <li>{{ translations['non-compliance-abbreviations'] }}</li>
          <li>{{ translations['non-compliance-documents'] }}</li>
      </ul>
      <p class="govuk-body">{{ translations['non-compliance-policy-link'] | safe }}</p>

      <h3 class="govuk-heading-m">{{ translations['out-of-scope'] }}</h3>
      <p class="govuk-body">{{ translations['not-fix-pdfs']}}</p>

      <h2 class="govuk-heading-l">{{ translations['improvements-heading'] }}</h2>
      <p class="govuk-body">{{ translations['improvements-description'] }}</p>

      <h2 class="govuk-heading-l">{{ translations['preparation-heading'] }}</h2>
      <p class="govuk-body">{{ translations['prepared-date'] }} {{ translations['review-date'] }}</p>
      <p class="govuk-body">{{ translations['testing'] }}</p>
      <p class="govuk-body">{{ translations['additional-testing'] }}</p>
      
    </div>
  </div>
  </div>
  </div>
{% endblock %}