{% extends 'layouts/page.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: translations['bank-details-co']
      }) }}
      <p class="govuk-body">{{ translations['your-local-auth'] }}</p>
      <a href="/?lang={{currentLang}}" class='govuk-link'> {{ translations['go-back-to-laps'] }}</a>
    </div>
  </div>
</div>
{% endblock %}
