{% extends 'layouts/page.njk' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set showBackLink = true %}

{% block pageTitle %}
  Check bank details
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">{{ translations['request-bank-details-update'] }}</span>
    <h1 class="govuk-heading-xl">{{ translations['confirm-new-details'] }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukSummaryList({
      rows: [
        {
          key: { text: translations['requested-by'] },
          value: { text: newBankDetails.requestedBy }
        },
        {
          key: { text: translations['local-auth'] },
          value: { text: authedUser.organisationName }
        },
        {
          key: { text: translations['account-name'] },
          value: { text: newBankDetails.accountName },
          actions: {
            items: [
              {
                href: "/laps/update-bank-details/update-bank-details",
                text: translations['change'],
                visuallyHiddenText: "accountName"
              }
            ]
          }
        },
        {
          key: { text: translations['sort-code'] },
          value: { text: newBankDetails.sortCode },
          actions: {
            items: [
              {
                href: "/laps/update-bank-details/update-bank-details",
                text: translations['change'],
                visuallyHiddenText: "sortCode"
              }
            ]
          }
        },
        {
          key: { text: translations['account-number'] },
          value: { text: newBankDetails.accountNumber },
          actions: {
            items: [
              {
                href: "/laps/update-bank-details/update-bank-details",
                text: translations['change'],
                visuallyHiddenText: "accountNumber"
              }
            ]
          }
        }
      ]
    }) }}

    <form id="update-bank-details-form" method="post" action="/bank-details">
      <input type="hidden" name="id" value="{{ newBankDetails.id }}">
      <input type="hidden" name="accountNumber" value="{{ newBankDetails.accountNumber }}">
      <input type="hidden" name="accountName" value="{{ newBankDetails.accountName }}">
      <input type="hidden" name="sortCode" value="{{ newBankDetails.sortCode }}">
      <input type="hidden" name="requestedBy" value="{{ newBankDetails.requestedBy }}">
      <button type="submit" class="govuk-button" data-module="govuk-button">{{ translations['confirm-and-submit']}}</button>
    </form>

  </div>
</div>

{% endblock %}