
{% extends 'layouts/page.njk' %}
{% set showBackLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <form method="post" action="/bank-details/bank-details-confirmed">
        <fieldset class="govuk-fieldset" aria-describedby="confirm-bank-details">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          
            <h1 class="govuk-fieldset__heading">
            Under construction
            </h1>
         </legend>
       </div>
      </div>
    </div>
{% endblock %}