// Example SASS helpers


@mixin app-link-style {
  text-decoration: none;
}

.my-link {
  @include app-link-style;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
  }
}

