{% extends 'layouts/page.njk' %}
{% set language = currentLang %}
{% block content %}

<div class="govuk-body">
  <h1 class="govuk-heading-xl">
  {{ translations['you-are-now'] }}
  </h1>
  {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: translations['sign-in'],
  href: "/"
}) }}
</div>

{% endblock %}